Repository discourse/discourse-canned-replies: changes, and which lefthook commands are due for each by the changed paths.
All: rubocop, prettier, prettier-scss, eslint, yaml-syntax

rubocop:
  run: bundle exec rubocop --parallel {staged_files}

prettier:
  include: assets/javascripts|test/javascripts
  run: yarn prettier --list-different {staged_files}

prettier-scss:
  include: assets/stylesheets
  run: yarn prettier --list-different {staged_files}

eslint:
  include: assets/javascripts|test/javascripts
  run: yarn eslint -f compact {staged_files}

yaml-syntax:
  run: bundle exec yaml-lint {staged_files}

FIX: Removed unused settings
  config/settings.yml
Due: yaml-syntax

DEV: Update acceptance tests
  test/javascripts/acceptance/canned-replies-test.js
  test/javascripts/fixtures/canned-replies-fixtures.js
Due: prettier, eslint

DEV: Added tests to backend code
  app/controllers/discourse_canned_replies/replies_controller.rb
  app/models/discourse_canned_replies/usage_count.rb
  app/serializers/discourse_canned_replies/replies_serializer.rb
  assets/javascripts/components/canned-replies-filterable-list.js
  assets/javascripts/discourse/templates/components/canned-replies-filterable-list.hbs
  lib/discourse_canned_replies/guardian_extension.rb
  lib/discourse_canned_replies/topic_query_extension.rb
  plugin.rb
  spec/fabricators/canned_reply_fabricator.rb
  spec/helpers/topics_helper.rb
  spec/integration/canned_reply/canned_replies_spec.rb
  spec/lib/guardian_extension_spec.rb
  spec/lib/topic_extension_spec.rb
  spec/lib/topic_query_extension_spec.rb
  spec/lib/user_extension_spec.rb
  spec/models/usage_count_spec.rb
  spec/plugin_spec.rb
  spec/requests/replies_controller_spec.rb
  spec/serializers/current_user_serializer_spec.rb
  spec/serializers/replies_serializer_spec.rb
Due: rubocop, prettier, eslint

DEV: Applied prettier in Ruby files
  .rubocop.yml
  Gemfile
  Gemfile.lock
  app/jobs/onceoff/rename_canned_replies.rb
  lib/discourse_canned_replies/topic_extension.rb
  lib/discourse_canned_replies/topic_query_extension.rb
  plugin.rb
  spec/fabricators/canned_reply_fabricator.rb
  spec/helpers/topics_helper.rb
  spec/lib/guardian_extension_spec.rb
  spec/lib/topic_extension_spec.rb
  spec/lib/topic_query_extension_spec.rb
  spec/lib/user_extension_spec.rb
  spec/models/usage_count_spec.rb
  spec/requests/replies_controller_spec.rb
  spec/serializers/current_user_serializer_spec.rb
  spec/serializers/replies_serializer_spec.rb
Due: rubocop, yaml-syntax

FEATURE: Added rake tasks to migrate data from v1 to v2
  config/locales/server.en.yml
  lib/tasks/canned-replies.rake
  plugin.rb
Due: rubocop, yaml-syntax

DEV: Change test module name and added test for variable replacement
  test/javascripts/acceptance/canned-replies-test.js
  test/javascripts/unit/lib/apply-reply-test.js
Due: prettier, eslint

DEV: import { schedule } from @ember/runloop instead of the Ember global
  assets/javascripts/components/canned-replies-filterable-list.js
Due: prettier, eslint

DEV: Replace array.indexOf() != -1 for .includes() in JS
  assets/javascripts/components/canned-replies-filterable-list.js
  assets/javascripts/components/canned-tag-drop.js
Due: prettier, eslint

DEV: Use EmberObject.create() instead of .extend() to create test model
  test/javascripts/unit/lib/apply-reply-test.js
Due: prettier, eslint

DEV: Removed unnecessary .sort_by in spec
  spec/requests/replies_controller_spec.rb
Due: rubocop

DEV: Adds sane defaults to table discourse_canned_replies_usage_count
  db/migrate/20220303012355_create_discourse_canned_replies_usage_count.rb
Due: rubocop

FEATURE: Limit max replies retrieved as a safe guard
  config/settings.yml
  lib/discourse_canned_replies/topic_query_extension.rb
  spec/lib/topic_query_extension_spec.rb
Due: rubocop, yaml-syntax

DEV: Use @computed decorator on property topTags
  assets/javascripts/components/canned-tag-drop.js
Due: prettier, eslint

FIX: Use POST to update reply usage
  assets/javascripts/components/canned-reply.js
  plugin.rb
  spec/requests/replies_controller_spec.rb
  test/javascripts/acceptance/canned-replies-test.js
Due: rubocop, prettier, eslint

FIX: Removed unnecessary inline style in canned-replies-modal.hbs
  assets/javascripts/discourse/templates/modal/canned-replies-modal.hbs
Due: none

FIX: @computed in CannedTagDrop was causing test to fail
  assets/javascripts/components/canned-tag-drop.js
Due: prettier, eslint

FIX: Test if the filter input was found before setting focus
  assets/javascripts/components/canned-replies-filterable-list.js
Due: prettier, eslint

Replace ember .get() with direct access to properties
  assets/javascripts/components/canned-reply.js
Due: prettier, eslint

DEV: Removed jQuery usage. It is being deprecated
  assets/javascripts/connectors/editor-preview/canned-replies.js
  test/javascripts/acceptance/canned-replies-test.js
Due: prettier, eslint

DEV: Removed unnecessary tests in topic_query_extension_spec
  spec/lib/topic_query_extension_spec.rb
Due: rubocop

FEATURE: Return 422 in /canned_replies/id/use if id does not belong to canned reply
  app/controllers/discourse_canned_replies/replies_controller.rb
  spec/lib/topic_query_extension_spec.rb
  spec/requests/replies_controller_spec.rb
Due: rubocop

DEV: Replace .call(this, ...) with a context parameter in insertReplyIntoComposer
  assets/javascripts/connectors/editor-preview/canned-replies.js
  assets/javascripts/controllers/canned-replies-modal.js
  assets/javascripts/lib/apply-reply.js
Due: prettier, eslint

DEV: Fixed rubocop warning
  lib/tasks/canned-replies.rake
Due: none

DEV: Binded actions show and hide directly to appAvents in editor-preview connector
  assets/javascripts/connectors/editor-preview/canned-replies.js
Due: prettier, eslint

DEV: Update gem rubocop-discourse
  Gemfile
  Gemfile.lock
Due: none

DEV: Use from qunit-helpers on acceptance tests
  test/javascripts/acceptance/canned-replies-test.js
Due: prettier, eslint

FIX: Default usage_count to 0 while migrating from v1
  lib/tasks/canned-replies.rake
Due: none

DEV: Fixed rubocop warnings
  lib/tasks/canned-replies.rake
Due: none

FEATURE: Includes variables `%{topic_title}` and `%{topic_url}`
  assets/javascripts/lib/apply-reply.js
  test/javascripts/unit/lib/apply-reply-test.js
Due: prettier, eslint

DEV: Update CI workflows
  .github/workflows/plugin-tests.yml
Due: yaml-syntax

DEV: Update CI workflows (#105)
  .github/workflows/plugin-tests.yml
Due: yaml-syntax

Update translations
  config/locales/client.hr.yml
  config/locales/server.hr.yml
Due: yaml-syntax

Update translations (#106)
  config/locales/client.hr.yml
  config/locales/server.hr.yml
Due: yaml-syntax

DEV: Bump rubocop-discourse
  Gemfile.lock
Due: none

DEV: Bump rubocop-discourse (#107)
  Gemfile.lock
Due: none

DEV: Fix JS tests to use default site settings
  test/javascripts/acceptance/canned-replies-test.js
Due: prettier, eslint

DEV: Fix JS tests to use default site settings (#108)
  test/javascripts/acceptance/canned-replies-test.js
Due: prettier, eslint

DEV: Replace bootbox confirm dialog
  assets/javascripts/controllers/edit-reply.js
Due: prettier, eslint

DEV: Replace bootbox confirm dialog (#109)
  assets/javascripts/controllers/edit-reply.js
Due: prettier, eslint

DEV: Update CI workflows
  .github/workflows/plugin-linting.yml
Due: yaml-syntax

Path conditions:
  rubocop: any of: *.rb
  prettier: any of: *.js
  prettier-scss: any of: *.scss
  eslint: any of: *.js
  yaml-syntax: any of: *.{yaml,yml}
