Repository discourse/discourse-canned-replies: changes, and which lefthook commands are due for each by the changed paths.
All: rubocop, prettier, prettier-scss, eslint, yaml-syntax

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    rubocop:
      glob: "*.rb"
      run: bundle exec rubocop --parallel {staged_files}
    prettier:
      glob: "*.js"
      include: "assets/javascripts|test/javascripts"
      run: yarn prettier --list-different {staged_files}
    prettier-scss:
      glob: "*.scss"
      include: "assets/stylesheets"
      run: yarn prettier --list-different {staged_files}
    eslint:
      glob: "*.js"
      include: "assets/javascripts|test/javascripts"
      run: yarn eslint -f compact {staged_files}
    ember-template-lint:
      run: yarn run ember-template-lint {staged_files}
    yaml-syntax:
      glob: "*.{yaml,yml}"
      run: bundle exec yaml-lint {staged_files}

commands: &commands
  bundle-install:
    files: git diff --name-only HEAD main
    glob: "{Gemfile,Gemfile.lock,*.gemspec}"
    run: bundle install
  yarn-install:
    files: git diff --name-only HEAD main
    glob: "{package.json,yarn.lock}"
    run: yarn install

post-checkout:
  commands: *commands

post-merge:
  commands: *commands

post-rewrite:
  commands: *commands

lints:
  parallel: true
  commands:
    rubocop:
      run: bundle exec rubocop --parallel
    prettier:
      glob: "*.js"
      include: "assets/javascripts|test/javascripts"
      run: yarn prettier --list-different {all_files}
    prettier-scss:
      glob: "*.scss"
      include: "assets/stylesheets"
      run: yarn prettier --list-different {all_files}
    eslint-assets-js:
      run: yarn eslint assets/javascripts
    eslint-test-js:
      run: yarn eslint test/javascripts
    ember-template-lint:
      run: yarn run ember-template-lint assets/javascripts
    yaml-syntax:
      glob: "*.{yaml,yml}"
      run: bundle exec yaml-lint {all_files}

DEV: Update CI workflows (#110)
  .github/workflows/plugin-linting.yml
Due: yaml-syntax

Bump eslint-config-discourse from 2.0.0 to 3.3.0
  package.json
  yarn.lock
Due: none

Bump eslint-config-discourse from 2.0.0 to 3.3.0 (#112)
  package.json
  yarn.lock
Due: none

Update translations
  config/locales/client.nl.yml
  config/locales/server.nl.yml
Due: yaml-syntax

Update translations (#113)
  config/locales/client.nl.yml
  config/locales/server.nl.yml
Due: yaml-syntax

DEV: Introduce syntax_tree for ruby formatting
  .github/workflows/plugin-linting.yml
  .github/workflows/plugin-tests.yml
  .rubocop.yml
  .streerc
  Gemfile
  Gemfile.lock
  plugin.rb
  spec/integration/canned_reply/canned_replies_spec.rb
  spec/plugin_spec.rb
Due: rubocop, yaml-syntax

DEV: Introduce syntax_tree for ruby formatting (#114)
  .github/workflows/plugin-linting.yml
  .github/workflows/plugin-tests.yml
  .rubocop.yml
  .streerc
  Gemfile
  Gemfile.lock
  plugin.rb
  spec/integration/canned_reply/canned_replies_spec.rb
  spec/plugin_spec.rb
Due: rubocop, yaml-syntax

DEV: Update eslint-config-discourse, use prettier for hbs
  .github/workflows/plugin-linting.yml
  assets/javascripts/discourse/templates/components/canned-replies-form.hbs
  assets/javascripts/discourse/templates/components/canned-reply.hbs
  assets/javascripts/discourse/templates/connectors/editor-preview/canned-replies.hbs
  assets/javascripts/discourse/templates/modal/canned-replies.hbs
  assets/javascripts/discourse/templates/modal/edit-reply.hbs
  assets/javascripts/discourse/templates/modal/new-reply.hbs
  yarn.lock
Due: yaml-syntax

DEV: Update eslint-config-discourse, use prettier for hbs (#116)
  .github/workflows/plugin-linting.yml
  assets/javascripts/discourse/templates/components/canned-replies-form.hbs
  assets/javascripts/discourse/templates/components/canned-reply.hbs
  assets/javascripts/discourse/templates/connectors/editor-preview/canned-replies.hbs
  assets/javascripts/discourse/templates/modal/canned-replies.hbs
  assets/javascripts/discourse/templates/modal/edit-reply.hbs
  assets/javascripts/discourse/templates/modal/new-reply.hbs
  yarn.lock
Due: yaml-syntax

Update translations
  config/locales/client.tr_TR.yml
Due: yaml-syntax

DEV: Update CI workflows
  .github/workflows/discourse-plugin.yml
  .github/workflows/plugin-linting.yml
  .github/workflows/plugin-tests.yml
Due: yaml-syntax

DEV: Update CI workflows (#118)
  .github/workflows/discourse-plugin.yml
  .github/workflows/plugin-linting.yml
  .github/workflows/plugin-tests.yml
Due: yaml-syntax

Update translations (#117)
  config/locales/client.tr_TR.yml
Due: yaml-syntax

Update translations
  config/locales/client.be.yml
  config/locales/client.bg.yml
  config/locales/client.bs_BA.yml
  config/locales/client.ca.yml
  config/locales/client.cs.yml
  config/locales/client.el.yml
  config/locales/client.et.yml
  config/locales/client.fa_IR.yml
  config/locales/client.gl.yml
  config/locales/client.hr.yml
  config/locales/client.hu.yml
  config/locales/client.hy.yml
  config/locales/client.lt.yml
  config/locales/client.lv.yml
  config/locales/client.nb_NO.yml
  config/locales/client.pt.yml
  config/locales/client.ro.yml
  config/locales/client.sk.yml
  config/locales/client.sq.yml
  config/locales/client.sr.yml
  config/locales/client.sw.yml
  config/locales/client.te.yml
  config/locales/client.th.yml
  config/locales/client.uk.yml
  config/locales/client.ur.yml
  config/locales/client.vi.yml
  config/locales/client.zh_TW.yml
Due: yaml-syntax

Update translations (#120)
  config/locales/client.be.yml
  config/locales/client.bg.yml
  config/locales/client.bs_BA.yml
  config/locales/client.ca.yml
  config/locales/client.cs.yml
  config/locales/client.el.yml
  config/locales/client.et.yml
  config/locales/client.fa_IR.yml
  config/locales/client.gl.yml
  config/locales/client.hr.yml
  config/locales/client.hu.yml
  config/locales/client.hy.yml
  config/locales/client.lt.yml
  config/locales/client.lv.yml
  config/locales/client.nb_NO.yml
  config/locales/client.pt.yml
  config/locales/client.ro.yml
  config/locales/client.sk.yml
  config/locales/client.sq.yml
  config/locales/client.sr.yml
  config/locales/client.sw.yml
  config/locales/client.te.yml
  config/locales/client.th.yml
  config/locales/client.uk.yml
  config/locales/client.ur.yml
  config/locales/client.vi.yml
  config/locales/client.zh_TW.yml
Due: yaml-syntax

DEV: Update plugin to match latest guidelines
  app/controllers/discourse_canned_replies/canned_replies_controller.rb
  app/models/discourse_canned_replies/reply.rb
  plugin.rb
  spec/integration/canned_reply/canned_replies_spec.rb
  spec/plugin_spec.rb
Due: rubocop

DEV: Update plugin to match latest guidelines (#119)
  app/controllers/discourse_canned_replies/canned_replies_controller.rb
  app/models/discourse_canned_replies/reply.rb
  plugin.rb
  spec/integration/canned_reply/canned_replies_spec.rb
  spec/plugin_spec.rb
Due: rubocop

DEV: Update plugin to match latest guidelines
  app/controllers/discourse_canned_replies/canned_replies_controller.rb
  app/models/discourse_canned_replies/reply.rb
  config/routes.rb
  lib/discourse_canned_replies/engine.rb
  plugin.rb
Due: rubocop

DEV: Update plugin to match latest guidelines (#121)
  app/controllers/discourse_canned_replies/canned_replies_controller.rb
  app/models/discourse_canned_replies/reply.rb
  config/routes.rb
  lib/discourse_canned_replies/engine.rb
  plugin.rb
Due: rubocop

DEV: Use angle bracket syntax
  assets/javascripts/discourse/templates/components/canned-replies-form.hbs
  assets/javascripts/discourse/templates/components/canned-reply.hbs
  assets/javascripts/discourse/templates/connectors/editor-preview/canned-replies.hbs
  assets/javascripts/discourse/templates/modal/canned-replies.hbs
  assets/javascripts/discourse/templates/modal/edit-reply.hbs
  assets/javascripts/discourse/templates/modal/new-reply.hbs
Due: none

DEV: Use angle bracket syntax (#122)
  assets/javascripts/discourse/templates/components/canned-replies-form.hbs
  assets/javascripts/discourse/templates/components/canned-reply.hbs
  assets/javascripts/discourse/templates/connectors/editor-preview/canned-replies.hbs
  assets/javascripts/discourse/templates/modal/canned-replies.hbs
  assets/javascripts/discourse/templates/modal/edit-reply.hbs
  assets/javascripts/discourse/templates/modal/new-reply.hbs
Due: none

DEV: Use angle bracket syntax
  package.json
Due: none

update yarn.lock
  yarn.lock
Due: none

DEV: Update eslint config (#123)
  package.json
  yarn.lock
Due: none

DEV: Fix Zeitwerk reloading error (#249)
  config/routes.rb
Due: rubocop

DEV: Fix Zeitwerk reloading error (#124)
  config/routes.rb
Due: rubocop

DEV: Avoid calling `send` on composer service
  assets/javascripts/components/canned-reply.js
  assets/javascripts/connectors/editor-preview/canned-replies.js
Due: prettier, eslint

Add deprecation notice to plugin
  README.md
  plugin.rb
Due: rubocop

DEV: Avoid calling `send` on composer service (#127)
  assets/javascripts/components/canned-reply.js
  assets/javascripts/connectors/editor-preview/canned-replies.js
Due: prettier, eslint

Add deprecation notice to plugin (#128)
  README.md
  plugin.rb
Due: rubocop
